extends layout

block content
    script.
        function changeEtat(input) {
            var etat = $(input).is(':checked') ? 'on' : 'off';
            $.get('/admin/bouton/' + etat);
        }

    style.
        .toggle { width:200px }

    h1 Liste des utilisateurs

    if etat == 'on'
        input(type="checkbox", checked, data-toggle="toggle", data-on="ON (Humain répond)", data-off="OFF (Bot répond)", onchange="changeEtat(this)")
    else
        input(type="checkbox", data-toggle="toggle", data-on="ON (Humain répond)", data-off="OFF (Bot répond)", onchange="changeEtat(this)")

    br
    br

    table.table.table-bordered
        tr
            td 
                b ID
            td 
                b Date


        each value, index in users
            tr
                td
                    a(href="/admin/#{index}")= index
                td= value.last_date


    