extends layout

block content
    h1= user_id


    table.table.table-bordered
        tr
            td 
                b Date
            td 
                b Message


        each message in messages
            tr
                td
                td